.about {
    background-color: #000000;
    background-image: url('https://svgsilh.com/svg/1254502-3e5b85.svg');
    // background-image: url('https://svgsilh.com/svg/1303776-607d8b.svg');
    background-size: contain;
    background-size: 700px;
    height: 100vh;
    padding: 100px 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-bottom: 3px solid;
    border-image: linear-gradient(90deg, orange, black) 1;

    @media (max-width: 900px) {
        padding: 10px 15px;
        height: calc(100vh - 1px);
        background-size: contain;
    }

    .bg {
        position: absolute;
        top: calc(50% + 30px);
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #070a0edd;
        padding: 10px 20px;
        border-radius: 80px;
        border: 1px solid rgb(0, 0, 0);
        -webkit-box-shadow: 0px 0px 37px 30px rgba(0, 0, 0, 0.57);
        box-shadow: 0px 0px 37px 0px rgba(218, 232, 255, 0.57);
        transition: all .1s;
        max-width: 850px;

        &:hover {
            box-shadow: 0px 0px 37px 4px #85ceff;

            @media (max-width: 900px) {
                box-shadow: 0px 0px 37px 0px rgba(0, 0, 0, 0.57);
            }
        }

        @media (max-width: 900px) {
            padding: 10px;
            width: 95%;
            top: calc(50% + 0px);
            border: none;
            background-color: #070a0e68;
            box-shadow: 0px 0px 37px 0px rgba(0, 0, 0, 0.57);
        }

    }

    .main-title {
        color: white;
        font-size: 30px;
        margin-top: 30px;
        text-align: left;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        cursor: default;

        @media (max-width: 900px) {
            font-size: 24px;
            margin-bottom: 20px;
        }

        &.big {
            font-size: 45px;
            text-shadow: 2px 2px 4px #bddcff;

            @media (max-width: 900px) {
                font-size: 32px;
                margin-top: 90px;
            }

        }
    }

    .my-pic {
        height: 150px;
        width: 150px;
        border-radius: 50%;
        border: 2px solid snow;
        margin: 20px;
        float: right;
        transition: transform .8s ease-in-out;

        &:hover {
            transform: rotateY(360deg);
        }

        @media (max-width: 900px) {
            height: 105px;
            width: 105px;
            margin-top: 60px;
        }
    }

    .main-text {
        text-shadow: 0px 0px 20px #000000;
        color: white;
        font-size: 18px;
        max-width: 1200px;
        margin-top: 20px;
        cursor: default;

        p {
            margin-top: 7px;
            max-width: 600px;
            padding: 10px 8px;
        }

        p+.line {
            border: 1px solid white;
            width: 50%;
            margin: auto;
            margin-top: 12px;
            border-image: linear-gradient(45deg, #070a0e, #ffa600) 1;
        }

        @media (max-width: 900px) {
            font-size: 18px;
            margin-top: 20px;
            padding: 5px;

            p {
                margin-top: 5px;
            }
        }
    }

    .contact {
        width: 40%;
        padding: 5px 40px;
        display: flex;
        justify-content: space-between;
        margin: 40px auto 30px;
        align-items: center;
        background-color: #181e25;
        border-radius: 20px;
        box-shadow: 0px 0px 8px #bddcff;
        transition: 0.2s all;

        &:hover {
            transform: scale(1.08);
        }


        @media (max-width: 900px) {
            width: 70%;
            margin: 40px auto 10px;
            padding: 5px 30px;
        }

        >* {
            transition: .5s all;
            background-color: #bddcff;
            width: 40px;
            height: 40px;
            text-align: center;
            border-radius: 50%;
            line-height: 40px;
            vertical-align: middle;
            border: 1px solid white;
            text-shadow: 2px 2px 8px #070a0e;

            &:hover {
                background-color: #516071;
                border: 1px solid orange;
            }
        }
    }
}