.item-list {
    display: grid;
    grid-template-columns: repeat(10, minmax(100px, 1fr));
    grid-template-rows: repeat(6, minmax(100px, 1fr));
    gap: 10px;

    @media (max-width: 1200px) {
        grid-template-columns: repeat(10, minmax(50px, 1fr));
        grid-template-rows: repeat(6, minmax(70px, 1fr));
    }

    @media (max-width: 900px) {
        display: flex;
        flex-direction: column;
    }

}