.item-list {
    min-height: 650px;
    display: grid;
    grid-template-columns: repeat(4, minmax(100px, 400px));
    grid-template-rows: repeat(2, minmax(100px, 1fr));
    gap: 60px;


    @media (max-width: 1200px) {
        grid-template-columns: repeat(3, minmax(50px, 1fr));
        grid-template-rows: repeat(3, minmax(70px, 1fr));
    }

    @media (max-width: 900px) {
        display: flex;
        flex-direction: column;
        width: 300px;
        gap: 10px;
    }
}

.projects-title {
    padding: 55px;
    font-family: Fasthand;
    font-size: 66px;
    color: white;
    font-weight: 500;
    text-shadow: 2px 2px 8px #070a0e;

}

.white {
    color: white;
}