.item-app {
  display: grid;
  grid-template-columns: $gtc;

  background: #d4eeff;
  // background: radial-gradient(circle, #bae3ff 0%, #d6ffb7 100%);
  background: radial-gradient(circle, #bfd5e6 0%, #537ab0 100%);

  height: calc(100vh - 112px);
  gap: 10px;
  text-align: center;
  align-items: center;

  .sec-nav-container {
    display: flex;
    margin-top: 15px;
    height: 100px;
  }


  >* {
    grid-column: 2;
  }
}