.main-header {
  background: rgb(62, 91, 133);
  background: linear-gradient(231deg, rgba(62, 91, 133, 1) 37%, rgba(0, 0, 0, 1) 100%);
  color: $mainBlue;
  display: grid;
  grid-template-columns: $gtc;
  height: 60px;
  border-bottom: 2px solid snow;

  .main-nav {
    grid-column: 2;
    display: flex;
    justify-content: space-between;
    line-height: 60px;
    vertical-align: middle;

    .logo {
      display: flex;
      align-items: center;
      letter-spacing: -1px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-family: Fasthand;
      font-size: 36px;
      font-weight: 500;
      transition: all 1s;
      color: white;
      letter-spacing: 2px;

      &:hover {
        color: lighten($mainBlue, 100);
      }

      .my-img {
        height: 35px;
        width: 35px;
        border-radius: 50%;
        border: 2px solid white;
        margin-right: 10px;
      }

    }

    .router-link-exact-active {}

    nav {
      display: flex;
      line-height: 30px;
      align-items: center;

      >* {
        margin-left: 20px;
      }


      .link {
        color: white;
        text-decoration: none;
        padding: 5px;

        &:hover {
          color: lighten($mainBlue, 8);
        }
      }

    }
  }
}